#Div{
background-color: rgb(230, 231, 231);
width: 300px;
display: inline-block;
padding: 50px;
margin: 30px;
box-shadow: 0 0 30px lightgray;
font-size: 20px;
margin-left: 200px;
}
#main{
    font-family: Consolas;
    font-size: 30px;
    padding-left: 20px;
    padding-bottom:5px;
}
#main1{
    font-family: Times New Roman;

}
#Button{
    margin-left: 20px;
    background-color: rgb(24, 152, 249);
    border-color: rgb(24, 152, 249);
    border-radius: 10px;
    font-size: 20px;
}
#a{
    color: white;
}
#main2{
     font-family: Consolas;
    font-size: 30px;
    padding-left: 20px;
    padding-bottom:5px;
}
#Div1{
background-color: rgb(230, 231, 231);
width: 300px;
display: inline-block;
padding: 50px;
margin: 30px;
box-shadow: 0 0 30px lightgray;
font-size: 20px;
margin-left: 200px;
}
#main3{
      font-family: Consolas;
    font-size: 30px;
    padding-left: 20px;
    padding-bottom:20px;
}
#main4{
    font-family: Times New Roman;
}
#main5{
     font-family: Consolas;
    font-size: 30px;
    padding-left: 20px;
    padding-bottom:5px;
    margin-bottom: 100px;
}
#main6{
  font-family: Times New Roman;  
}